*{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	
}
body{
	background: #e65c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.main{
	margin-top: 30px;
	height: 90vh;
	width: 90vw;
	background-color: #fff;
	box-shadow: 0 0 20px #000;

}
.sidebar{
	height: 90vh;
	background-color: #ff7419;
	text-align: center;
	overflow: auto;
}
.sidebar h2,h4{
	color: #fff;
}
.sidebar::-webkit-scrollbar{
	width: 10px;
}
.sidebar::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background: rgba(0,0,0,.1);
}
.user{
	width: 70px;
	height: 70px;
	border-radius: 50%;
}
.current-user{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.horizontal{
	width: 70px;
    border-bottom: 3px solid  #fff;
    }
.list li{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #fff;
}
.list li{
	padding: 20px;
}
.list li img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.chat-logs{
width: 100%;
height: 525px !important;
padding: 50px;
overflow-x: hidden;
overflow-y: scroll!important;
}
.chat-logs::-webkit-scrollbar{
	width: 10px;
}
.chat-logs::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background: rgba(0,0,0,.1);
}
.chat-form{
	position: fixed;
	bottom: 7vh; 
}
.chat .user-photo{
	width: 65px;
	height: 65px;
	background-color: #ced6e0;
	border-radius: 50%;
}
.user-message-right{
	margin:5px 10px 0;
	background-color:#ffa801;
	padding: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px; 
	position: relative;
}

.user-message-right:after{
	content: "";
	border-left: none;
	border-right: 15px solid #ffa801;
	border-bottom: 15px solid transparent;
	border-top: 15px solid transparent;
	position: absolute;
	left: -15px;
	top: 5px;
}
.friend-message-left{
	margin:5px 10px 0;
	background-color:#ffa801;
	padding: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px; 
	position: relative;
}
.friend-message-left:after{
	content: "";
	border-right: none;
	border-left: 15px solid #ffa801;
	border-bottom: 15px solid transparent;
	border-top: 15px solid transparent;
	position: absolute;
	right: -15px;
	top: 5px;
}
.chat{
	margin-bottom: 40px;
	display: flex;
	flex-flow: row nowrap;
}
form{
	display: flex;
}
.wrap{
	border:1px solid #ff7419;
	border-radius: 5px;
}
input{
	width: 48vw;
	border: 0;
	padding: 15px;
	text-indent: 10px;
	box-shadow: none;
    border-radius: 0;
    outline: none;
	background:none;
}
.send{
	margin: 0 10px;
	background-color: transparent !important;
	box-shadow: none;
	border:0;
	outline: none;
	color: #ff7419;
	font-size: 20px;
	transition: all 0.3s;
}
.send:hover{
    font-size: 25px;
}
.loc{
    background-color: #ff7419;
    padding: 6px;
    margin: 0 20px;
	color: #fff; 
	border:0;
	box-shadow: none;
	transition: all 0.3s;
}
.loc:hover{
	background: transparent;
    border:1px solid #ff7419;
    color: #ff7419;
}
